
<Jumbo>
    <h2>About Super Rental Application</h2>
    <p>
        Exposure in full life cycle of Software Development which includes
        ▪ Studying existing platform
        ▪ Requirement gathering from Business users and documenting it,
        ▪ Involved in technical and functional aspects and design specifications.
    </p>
    <LinkTo @route="contact" class="button">Contact Us</LinkTo>
</Jumbo>