
<Jumbo>
    <h2>welcome to Subha super rentals</h2>
    <p>we hope you find a Syntatically Awesome Style Sheet</p>
    <LinkTo @route="about" class="button">About Us</LinkTo>
</Jumbo>
<div class="rentals">
    <ul class="results">
        <li><Rental @rental={{@model}}/></li>
         <li><Rental @rental={{@model}}/></li>
          <li><Rental @rental={{@model}}/></li>
    </ul>
</div>